/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */

:root {
  /* colors */
  --clr-gold-500: 31 77% 52%;
  --clr-cyan-800: 184 100% 22%;
  --clr-green-950: 179 100% 13%;
  --clr-white: hsl(0 0% 100% / 0.75);
  --clr-gray: 0, 0%, 95%;

  /* font-family */
  --ff-lexend-deca: "Lexend Deca", sans-serif;
  --ff-big-shoulders: "Big Shoulders", sans-serif;
}

/* UTILITY CLASSES */
.paddings {
  padding: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

/* general styles */
body {
  color: var(--clr-white);
  font-size: 0.9rem;
  font-weight: 400;
  height: 100%;
  background-color: hsl(var(--clr-gray));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: var(--ff-lexend-deca);
}

.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 330px;
}

.color-500 {
  background-color: hsl(var(--clr-gold-500));
}

.color-800 {
  background-color: hsl(var(--clr-cyan-800));
}

.color-950 {
  background-color: hsl(var(--clr-green-950));
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* mobilajā versijā */
  flex: 1;
}

article img {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}

.title {
  font-family: var(--ff-big-shoulders);
  font-weight: 700;
  color: hsl(var(--clr-gray));
  font-size: 2.3rem;
  margin-block: 2rem;
}

p {
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.button {
  border: 0.1rem solid transparent;
  padding-inline: 2rem;
  padding-block: 0.95rem;
  border-radius: 2rem;
  letter-spacing: 0.5px;
  margin-top: 1.5rem;
  font-size: inherit;
  font-family: inherit;
  transition:
    border 0.15s,
    color 0.15s,
    border-radius 0.15s,
    cursor 0.15s,
    background-color 0.15s;
  align-self: flex-start;
}

.clr-btn-sedans {
  color: hsl(var(--clr-gold-500));
}

.clr-btn-suvs {
  color: hsl(var(--clr-cyan-800));
}

.clr-btn-lux {
  color: hsl(var(--clr-green-950));
}

.button:hover {
  color: hsl(var(--clr-gray));
  border: 0.1rem solid hsl(var(--clr-gray));
  border-radius: 2rem;
  cursor: pointer;
}

.clr-btn-sedans:hover {
  background-color: hsl(var(--clr-gold-500));
}

.clr-btn-suvs:hover {
  background-color: hsl(var(--clr-cyan-800));
}

.clr-btn-lux:hover {
  background-color: hsl(var(--clr-green-950));
}

@media (min-width: 800px) {
  body {
    height: 100vh;
  }

  .card-container {
    flex-direction: row;
    max-width: 927px;
  }

  article {
    justify-content: space-between;
  }

  .button {
    margin-top: 5.5rem;
  }
}